apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: django-app
  namespace: argocd
spec:
  project: default
  
  source:
    repoURL: 'https://github.com/sieun1803/django_project.git'
    targetRevision: main
    path: k8s/manifests
  
  destination:
    server: 'https://kubernetes.default.svc'
    namespace: django-ns
  
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true